@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: conic-gradient(from 90deg at 25% -10%, #ff4500, #d3f340, #7bee85, #afeeee, #7bee85);
}
.main .watch {
    width: 100%;
    max-width: 720px;
    border: 5px solid #16ecec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #afeeee;

}
.watch h2 {
    font-size: 4.5rem;
    margin-left: 10px;
}